{
    "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
        "standard": {
            "format": "%(asctime)s [%(levelname)s] [%(name)s]:\n%(message)s"
        }
    },
    "handlers": {
        "default": {
            "level": "DEBUG",
            "formatter": "standard",
            "class": "logging.handlers.TimedRotatingFileHandler",
            "filename": "log/run.log",
            "interval": 1,
            "backupCount": 1000,
            "when": "d"
        }
    },
    "loggers": {
        "mylogger": {
            "handlers": ["default"],
            "level": "INFO"
        }
    }
}